html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
  font-size: 3rem;
  color: darkslategray;
  text-align: center;
	margin: 0 auto;
	margin-bottom: 2rem;
}
.textarea{
	display: block;
	width: 700px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 1.5rem;
}
.keyboard-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 3px solid #898b8b;
	border-radius: 5px;
	background-color: #b0adad52;
	margin-bottom: 20px;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 7px;
	width: 740px;
}
.button {
	width: 45px;
	height: 45px;
	margin-left: 6px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	background: #514d4d;
	border-radius: 3px;
	cursor: pointer;
	transition: .2s;
	border: 3px solid #898b8b;
}
.button:hover {
	opacity: .7;
}
.button_active {
	background: rgb(90, 134, 217);
	border-radius: 45px;
}
.button_wide {
	flex: 1;
}
.description {
	font-size: 18px;
}